<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>AgentCode</description>
        <param-name>agentCode</param-name>
        <param-value>CNCPublicAgentTest</param-value>
    </context-param>
    <context-param>
        <description>Agent Key</description>
        <param-name>agentKey</param-name>
        <param-value>CNCPublicAgentTest678%$$#^#</param-value>
    </context-param>
    <servlet>
        <servlet-name>CNCServices</servlet-name>
        <servlet-class>CNCServicesServlet.CNCServices</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CNCServices</servlet-name>
        <url-pattern>/CNCServices</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
